* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
    scroll-behavior: smooth;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00f7ff;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #00f7ff;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* Card Glass Effect */
.card {
    background: rgba(255, 255, 255, 0.1);
    margin: 40px auto;
    padding: 40px;
    width: 80%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

/* Skills */
#skills {
    text-align: center;
    padding: 50px 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background: #00f7ff;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.skill:hover {
    transform: scale(1.1);
}

/* Projects */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: rgba(255,255,255,0.15);
    margin: 15px;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 9px;
}

button {
    padding: 10px;
    background: #00f7ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: white;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media(max-width: 768px) {
    header {
        flex-direction: column;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 95%;
    }
}
